.services-list {
  row-gap: 2rem;
}
.services-item {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.services-item-img {
  margin-bottom: 0.8rem;
}
.services-item-img img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.services-item-text .text {
  max-width: 460px;
}

@media screen and (min-width: 768px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
